{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="mo-content">
    <div class="mo-tips">
        <div class="mo-tips--group">
            <div class="mo-tips-container">
                <div class="mo-tips-grid-container">
                    <ul class="mo-tips-grid">
                        <li class="mo-card-main">
                            <div class="mo-card">
                                <div class="mo-card__image-container">
                                    <div class="mo-card__image">
                                        <img src="{{ asset('images/langage/typescript-287x180.png') }}" alt="card typescript image">
                                        <div class="mo-card__hover">
                                            <a class="line-none" href="{{ path('review.build') }}" alt="under construction">
                                                <span>Go somewhere</span>
                                            </a>
                                        </div> 
                                    </div>
                                </div>
                                <div class="mo-card__infos-container">
                                    <div class="mo-card__title">
                                        <h3>
                                            <a href="/formation/bureautique/excel/apprendre-excel-2016-niveau-initial-basique" class="card--link--simple" title="Apprendre Excel 2016 - Niveau Initial Basique">Learn TypeScripts - Tricks</a>
                                        </h3>
                                    </div>
                                    <div class="mo-card__objective">Some tips to discover about the TypeScripts language.</div>
                                    <div class="mo-card__info"></div>
                                </div>
                            </div>
                        </li>
                        <li class="mo-card-main">
                            <div class="mo-card">
                                <div class="mo-card__image-container">
                                    <div class="mo-card__image">
                                        <img src="{{ asset('images/langage/react-287x180.png') }}" alt="card react image">
                                        <div class="mo-card__hover">
                                             <a class="line-none" href="{{ path('review.build') }}" alt="under construction">
                                                <span>Go somewhere</span>
                                            </a>
                                        </div> 
                                    </div>
                                </div>
                                <div class="mo-card__infos-container">
                                    <div class="mo-card__title">
                                        <h3>
                                            <a href="/formation/bureautique/excel/apprendre-excel-2016-niveau-initial-basique" class="card--link--simple" title="Apprendre Excel 2016 - Niveau Initial Basique">Learn ReactJs - Tricks</a>
                                        </h3>
                                    </div>
                                    <div class="mo-card__objective">Some tips to discover about the RxJS library.</div>
                                    <div class="mo-card__info">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="mo-card-main">
                            <div class="mo-card">
                                <div class="mo-card__image-container">
                                    <div class="mo-card__image">
                                        <img src="{{ asset('images/langage/rxjs-287x180.png') }}" alt="card rxjs image">
                                        <div class="mo-card__hover">
                                            <a class="line-none" href="{{ path('review.build') }}" alt="under construction">
                                                <span>Go somewhere</span>
                                            </a>
                                        </div> 
                                    </div>
                                </div>
                                <div class="mo-card__infos-container">
                                    <div class="mo-card__title">
                                        <h3>
                                            <a href="/formation/bureautique/excel/apprendre-excel-2016-niveau-initial-basique" class="card--link--simple" title="Apprendre Excel 2016 - Niveau Initial Basique">Learn RxJs - Tricks</a>
                                        </h3>
                                    </div>
                                    <div class="mo-card__objective">Some tips to discover about the RxJS library.</div>
                                    <div class="mo-card__info"></div>
                                </div>
                            </div>
                        </li>
                        <li class="mo-card-main">
                            <div class="mo-card">
                                <div class="mo-card__image-container">
                                    <div class="mo-card__image">
                                        <img src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22287%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20287%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_18af019b567%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_18af019b567%22%3E%3Crect%20width%3D%22287%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22107.6875%22%20y%3D%2296.20000038146972%22%3E287x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="card manzowa image">
                                        <div class="mo-card__hover">
                                            <a class="line-none" href="http://manzowa.com">
                                                <span>Go somewhere</span>
                                            </a>
                                        </div> 
                                    </div>
                                </div>
                                <div class="mo-card__infos-container">
                                    <div class="mo-card__title">
                                        <h3>
                                            <a href="/formation/bureautique/excel/apprendre-excel-2016-niveau-initial-basique" class="card--link--simple" title="Apprendre Excel 2016 - Niveau Initial Basique">Tricksf</a>
                                        </h3>
                                    </div>
                                    <div class="mo-card__objective">Do nothing.</div>
                                    <div class="mo-card__info"></div>
                                </div>
                            </div>
                        </li>
                         <li class="mo-card-main">
                            <div class="mo-card">
                                <div class="mo-card__image-container">
                                    <div class="mo-card__image">
                                        <img src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22287%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20287%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_18af019b567%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_18af019b567%22%3E%3Crect%20width%3D%22287%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22107.6875%22%20y%3D%2296.20000038146972%22%3E287x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="card manzowa image">
                                        <div class="mo-card__hover">
                                            <a class="line-none mo-isDisabled" href="{{ path('review.build') }}" alt="under construction">
                                                <span>Go somewhere</span>
                                            </a>
                                        </div> 
                                    </div>
                                </div>
                                <div class="mo-card__infos-container">
                                    <div class="mo-card__title">
                                        <h3>
                                            <a href="/formation/bureautique/excel/apprendre-excel-2016-niveau-initial-basique" class="card--link--simple" title="Apprendre Excel 2016 - Niveau Initial Basique">Tricks</a>
                                        </h3>
                                    </div>
                                    <div class="mo-card__objective">Do nothing.</div>
                                    <div class="mo-card__info"></div>
                                </div>
                            </div>
                        </li>
                         <li class="mo-card-main">
                            <div class="mo-card">
                                <div class="mo-card__image-container">
                                    <div class="mo-card__image">
                                        <img src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22287%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20287%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_18af019b567%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_18af019b567%22%3E%3Crect%20width%3D%22287%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22107.6875%22%20y%3D%2296.20000038146972%22%3E287x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="card manzowa image">
                                        <div class="mo-card__hover">
                                            <a class="line-none" href="{{ path('review.build') }}" alt="under construction">
                                                <span>Go somewhere</span>
                                            </a>
                                        </div> 
                                    </div>
                                </div>
                                <div class="mo-card__infos-container">
                                    <div class="mo-card__title">
                                        <h3>
                                            <a href="/formation/bureautique/excel/apprendre-excel-2016-niveau-initial-basique" class="card--link--simple mo-isDisabled" title="Apprendre Excel 2016 - Niveau Initial Basique">Tricks</a>
                                        </h3>
                                    </div>
                                    <div class="mo-card__objective">Do nothing.</div>
                                    <div class="mo-card__info"></div>
                                </div>
                            </div>
                        </li>
                         <li class="mo-card-main">
                            <div class="mo-card">
                                <div class="mo-card__image-container">
                                    <div class="mo-card__image">
                                        <img src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22287%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20287%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_18af019b567%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_18af019b567%22%3E%3Crect%20width%3D%22287%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22107.6875%22%20y%3D%2296.20000038146972%22%3E287x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="card manzowa image">
                                        <div class="mo-card__hover">
                                            <a class="line-none" href="{{ path('review.build') }}" alt="under construction">
                                                <span>Go somewhere</span>
                                            </a>
                                        </div> 
                                    </div>
                                </div>
                                <div class="mo-card__infos-container">
                                    <div class="mo-card__title">
                                        <h3>
                                            <a href="/formation/bureautique/excel/apprendre-excel-2016-niveau-initial-basique" class="card--link--simple mo-isDisabled" title="Apprendre Excel 2016 - Niveau Initial Basique">Tricks</a>
                                        </h3>
                                    </div>
                                    <div class="mo-card__objective">Do nothing.</div>
                                    <div class="mo-card__info"></div>
                                </div>
                            </div>
                        </li>
                         <li class="mo-card-main">
                            <div class="mo-card">
                                <div class="mo-card__image-container">
                                    <div class="mo-card__image">
                                        <img src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22287%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20287%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_18af019b567%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_18af019b567%22%3E%3Crect%20width%3D%22287%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22107.6875%22%20y%3D%2296.20000038146972%22%3E287x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="card manzowa image">
                                        <div class="mo-card__hover">
                                            <a class="line-none" href="{{ path('review.build') }}" alt="under construction">
                                                <span>Go somewhere</span>
                                            </a>
                                        </div> 
                                    </div>
                                </div>
                                <div class="mo-card__infos-container">
                                    <div class="mo-card__title">
                                        <h3>
                                            <a href="/formation/bureautique/excel/apprendre-excel-2016-niveau-initial-basique" class="card--link--simple mo-isDisabled" title="Apprendre Excel 2016 - Niveau Initial Basique">Tricks</a>
                                        </h3>
                                    </div>
                                    <div class="mo-card__objective">Do nothing.</div>
                                    <div class="mo-card__info"></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}