{% extends 'base.html.twig' %}
{% block content %}
<div class="mo-body">
    <div class="mo-login-wrapper">
        <div class="mo-box">
            <div class="mo-box-logo">
                <a href="{{ url_for('index') }}">
                    <img src="/images/logo/logo-96x96.png" alt="Logo">
                </a>
            </div>
            <div class="mo-form mo-shadow">
                <h2>Se Connecter</h2>
                {# Afficher les messages flash, s'il y en a #}
                {% include "flash/_flash.html.twig" %}
                {% import "macro/forms.html.twig" as forms %}
                <form method="post" action="{{ url_for('auth.login') }}">
                    <input type="hidden" name="{{ csrf.nameKey }}" value="{{ csrf.name }}">
                    <input type="hidden" name="{{ csrf.valueKey }}" value="{{ csrf.value }}">
                    {{ forms.form_input('username', 'Nom d\'utilisateur', errors) }}
                    {{ forms.form_input('password', 'Mot de passe', errors, 'password') }}

                    <button type="submit" class="mo-btn mo-warning mo-rounded mo-w-100">Se connecter</button>
                </form>
            </div>
        </div>
    </div>
<div>
{% endblock %}